html
  head
    title='project'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Javascript
        p Go to the repo for this project 
        p 
          a.btn.btn-primary(href="https://github.com/HienNguyen711/JS-dev-env") DevOps
        p
